<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>
        <%=name %>
    </h1>
    <% for(var index = 0; index <= 5; index++){ %>
        <div>
            <img src="Pokemons/001.png" alt="">
        </div>
        <% } %>
</body>

</html>