<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../public/pokemons.js"></script>
</head>

<body>
    <h1>Pokemon的編號：
        <%=pokemonResult.nationalNo %>
            <BR> Pokemon的名字：
            <%=pokemonResult.name %>

                </<h1>
                <div>
                    <img src="/Pokemons/<%=pokemonResult.img%>" alt="">
                </div>

</body>

</html>